@CHARSET "UTF-8";
html,body{
	width:100%;
	height:100%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.paginate ul{
	width:auto;
	height:100%;
	margin:0px;
}

.paginate ul li{
	position: relative;
	float:left;
	color: #337ab7;
	text-decoration: none;
	background: #ffffff;
	border: 1px solid #ddd;
	width:31px;
	height:27px;
	line-height:27px;
	text-align:center;
	cursor:pointer;
	list-style: none;
}

.paginate{
	min-width:auto;
	height:34px;
}

.page-select{
	min-width:56px;
	margin-left: 14px;
}

.paginate-tool{
	width:100%;
	margin-left:0px;
}

.paginate ul li:first-child, .paginate ul li:last-child{
	width:34px;
	height:27px;
}

.paginate ul li:first-child{
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}

.paginate ul li:last-child{
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}

.paginate .active{
	background:#eee;
	border-color:#ddd;
	color:#23527c;
}
.dropdown-menu{
	min-width: 56px !important;
}

.pagination-turn{
	height:27px;
	line-height:27px;
	margin-left: 10px;
}

.pagination-turn input{
	width:30px;	
	text-align:center;
	height:22px;
}

.pagination-turn label{
	border:1px solid #4b8df8;
	background:#4b8df8;
	color:white;
	height:28px;
	width:50px;
	text-align:center;
	line-height:26px;
	cursor:pointer;
	margin-right: 29px;
}

.pagination{
	position:absolute;
	right:175px;
	margin:0px !important;
}

.pagination-total{
	padding-right:0px;
	max-width:101px;
	min-width:101px;
	height:27px;
	line-height:27px;
}

.paginate_start{
	background:url(../img/page_btn_left.png) no-repeat !important;
	background-position:center center !important;
}

.paginate_end{
	background:url(../img/page_btn_right.png) no-repeat !important;
	background-position:center center !important;
}
.no_allowed{
	cursor: not-allowed !important;
}
.paginate_total_record{
	padding-top:5px;	
}